<!DOCTYPE html>
<html>
    <head>
       


    </head>
<body>
<table border="1" width="400" align="center">
    <tr>
        <td align="center"><img src="iphone.jpg" width="100"><br>Iphone</a></td>
        <td align="center"><img src="flip.jpg" width="100"><br>Flip</a></td>
    </tr>
</table>

<br>
<br>

<table border="1" width="400" align="center">
    <tr>
        <td align="center"><img src="Carrot.jpg" width="100"><br>Carrot</a></td>
        <td align="center"><img src="Broccoli.jpg" width="100"><br>Broccoli</a></td>
    </tr>
</table>

    

    
    
    
        
    

</body>

</html>